@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.darkmode {
  width: 100vw;
  height: 100vh;
  background-color: #636564;
}

:root {
  --92px: 5.775rem;
  --72px: 4.5rem;
  --64px: 4rem;
  --56px: 3.5rem;
  --48px: 3rem;
  --40px: 2.5rem;
  --32px: 2rem;
  --24px: 1.5rem;
  --20px: 1.25rem;
  --15px: 0.9375rem ;
}

a:link {
  color: black;
}
a:link:hover {
  color: rgb(247, 13, 177);
}

h1.rem {
  font-size: var(--92px);
}

h2.rem {
  font-size: var(--72px);
}

h3.rem {
  font-size: var(--64px);
}

h4.rem {
  font-size: var(--56px);
}

h5.rem {
  font-size: var(--48px);
}

h6.rem {
  font-size: var(--40px);
}

h7.rem {
  font-size: var(--32px);
}

h8.rem {
  font-size: var(--24px);
}

h9.rem {
  font-size: var(--20px);
}

h10.rem {
  font-size: var(--15px);
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
h10 {
  color: black !important;
}

.bgContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navBarContainer {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
  min-height: 6.25rem;
  max-width: 112.5rem;
  min-width: 12.5rem;
  border: 2px solid rgb(0, 26, 255);
}
@media (max-width: 1024px) {
  .navBarContainer {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    max-width: 64rem;
    max-height: 64rem;
    border: 2px solid rgb(255, 230, 0);
  }
}
@media (max-width: 667px) {
  .navBarContainer {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    max-width: 37.5rem;
    max-height: 64rem;
    border: 2px solid rgb(0, 255, 42);
  }
}

.MainContainer {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  min-height: 62.5rem;
  max-width: 305rem;
  min-width: 200px;
  border: 2px solid rgb(255, 0, 0);
}
@media (max-width: 1024px) {
  .MainContainer {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    max-width: 64rem;
    max-height: 64rem;
    border: 2px solid rgb(255, 230, 0);
  }
}
@media (max-width: 667px) {
  .MainContainer {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    max-width: 37.5rem;
    max-height: 64rem;
    border: 2px solid rgb(0, 255, 42);
  }
}

.cart {
  max-width: 64rem;
  max-height: 64rem;
  border: 2px solid rgb(0, 140, 255);
}

.halfMc {
  min-height: 1.25rem;
  max-width: 152.5rem;
  border: 2px solid rgb(0, 0, 0);
}

.quarterMc {
  min-height: 15.625rem;
  max-width: 76.25rem;
  border: 2px solid rgb(0, 255, 76);
}

img {
  min-height: 31.25rem;
  max-width: 152.5rem;
}
img:hover {
  filter: grayscale(50%);
}

video {
  min-height: 31.25rem;
  max-width: 152.5rem;
}
video:hover {
  filter: grayscale(50%);
}

.box {
  min-height: 100px;
  max-width: 100px;
  border: 2px solid rgb(0, 255, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  transition: all 0.3s ease;
}
.box:hover {
  background-color: green;
  color: white;
}